project_name             = "clircel"
environment              = "hackathon"
aws_region               = "us-east-1"
availability_zone        = "us-east-1a"
worker_count             = 2
worker_instance_type     = "t3.small"
worker_ami_id            = "ami-0953476d60561c955"
worker_volume_size_gb    = 20
worker_api_url           = ""
worker_repo_url          = ""
worker_repo_ref          = "main"
worker_allowed_cidr_blocks = []
worker_ingress_ports       = []
worker_public_http_cidr_blocks = ["0.0.0.0/0"]
